# .env
AIRFLOW__CORE__BASE_LOG_FOLDER=/opt/airflow/logs
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__FERNET_KEY="2kwjKSDgj_ClTn1TKlwR13HqPaNsMwIMsW0RZkQoTOQ=" # random generated
AIRFLOW__WEBSERVER__SECRET_KEY="qBdUKRcpZzE2vKKHHlcs9YJhvWH5NMSo" # random generated
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://airflow:airflow@postgres/airflow
AIRFLOW__CELERY__BROKER_URL=redis://redis:6379/0
AIRFLOW__WEBSERVER__WORKER_REFRESH_BATCH_SIZE="1"
AIRFLOW__WEBSERVER__WORKER_REFRESH_INTERVAL="30"
